<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMapper">
  <insert id="MemberJoin" parameterType="com.smhrd.model.MemberDTO">
  INSERT INTO TB_USER (USER_ID,USER_PW,USER_NAME,USER_EMAIL,USER_NICK) values (#{user_id},#{user_pw},#{user_name},#{user_email},#{user_nick})
  </insert>
  
  <select id="MemberLogin" parameterType="com.smhrd.model.MemberDTO" resultType="com.smhrd.model.MemberDTO">
  SELECT *
  FROM TB_USER 
  WHERE USER_ID=#{user_id}
  </select>
  
  <select id="MemberChk" parameterType="com.smhrd.model.MemberDTO" resultType="int">
  	SELECT COUNT(*) AS RESULT FROM TB_USER WHERE USER_ID = #{user_id}
  </select>
  
  <select id="nickFind" parameterType="com.smhrd.model.MemberDTO" resultType="com.smhrd.model.MemberDTO" >
  	SELECT USER_NICK FROM TB_USER WHERE USER_ID = #{user_id}
  </select>
  
  <update id="profileEditor" parameterType="com.smhrd.model.MemberDTO">
     UPDATE TB_USER SET
       USER_PW = #{user_pw}, 
       USER_NAME = #{user_name}, 
       USER_NICK = #{user_nick}, 
       USER_EMAIL = #{user_email}
   WHERE USER_ID = #{user_id}
  </update>
  
  <select id="allUser" resultType="com.smhrd.model.MemberDTO">
  	SELECT * FROM TB_USER
  </select>
  
  <select id="UserSearch" parameterType="com.smhrd.model.MemberDTO" resultType="com.smhrd.model.MemberDTO">
  	SELECT * FROM TB_USER WHERE USER_ID = #{user_id}
  </select>
  
  <delete id="AdminDelete" parameterType="com.smhrd.model.MemberDTO">
  	DELETE FROM TB_USER WHERE USER_ID = #{user_id}
  </delete>
  
  <select id="FindEmail" parameterType="com.smhrd.model.MemberDTO" resultType="com.smhrd.model.MemberDTO">
  	SELECT USER_EMAIL FROM TB_USER WHERE USER_ID = #{user_id}
  </select>
  <select id="sessionLogin" parameterType="com.smhrd.model.MemberDTO" resultType="com.smhrd.model.MemberDTO">
  	SELECT * FROM TB_USER WHERE USER_ID = #{user_id}
  </select>
  
</mapper>