<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.PostMapper">
 	<insert id="postUpdate" parameterType="com.smhrd.model.PostDTO">
 		INSERT INTO TB_POST (POST_TITLE, POST_CONTENT, POST_ACC, POST_TOP, POST_PANTS, POST_SHOE, USER_ID,POST_IMGSRC) 
		VALUES (#{post_title}, #{post_content}, #{post_acc}, #{post_top}, #{post_pants}, #{post_shoe}, #{user_id}, #{post_imgsrc})
 	</insert>
	 <select id="selectAll" resultType="com.smhrd.model.PostDTO">
        SELECT * FROM TB_POST
    </select>
 	<select id="searchTitle" parameterType="com.smhrd.model.PostDTO" resultType="com.smhrd.model.PostDTO">
 		SELECT * FROM TB_POST WHERE POST_TITLE LIKE '%' || #{post_title} || '%'
 	</select>
 	<select id="searchWriter" parameterType="com.smhrd.model.PostDTO" resultType="com.smhrd.model.PostDTO">
 		SELECT * FROM TB_POST WHERE USER_ID LIKE '%' || #{user_id} || '%'
 	</select>
 	<delete id="postDelete" parameterType="com.smhrd.model.PostDTO">
 		DELETE FROM TB_POST WHERE POST_NUM = #{post_num}
 	</delete>
 	<update id="postModify" parameterType="com.smhrd.model.PostDTO" >
 		UPDATE TB_POST SET POST_TITLE=#{post_title}, POST_CONTENT = #{post_content}, POST_TOP = #{post_top}, POST_PANTS = #{post_pants},
 		POST_ACC = #{post_acc} , POST_SHOE = #{post_shoe} WHERE POST_NUM = #{post_num}
 	</update>
</mapper>